# .gitignore

# Ignorer le répertoire de l’environnement virtuel
env/
env_flask/
.env
# Ignorer le répertoire de Visual Studio Code
.vscode/
# Ignorer le cache de Python
__pycache__

# Ignorer le fichier de l'app pour le mode production
app/app.py