<!-- app/templates/python/python.html -->
{% extends "base.html" %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/python.css') }}">
{% endblock %}

{% block title %}
    Visualisation Python
{% endblock %}

{% block content %}
  <h1>Visualisation Python</h1>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto visualisations">
        <li class="nav-item">
          <a class="nav-link" href="/python/DEP">Départements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/python/REG">Régions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/python/bilan">Bilan sur les logements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/python/lien">Recherche d'un lien avec le dynamisme d'un territoire</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block visualisation %}{% endblock %}  

{% endblock %}