<!-- app/templates/python/graphtest.html -->
{% extends "base.html" %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/territoire.css') }}">
{% endblock %}

{% block title %}
    Tableau de bord {{ territoire.libelleTerritoire }}
{% endblock %}

{% block content %}

  <h1>Tableau de bord {{ territoire.libelleTerritoire }} </h1>

  <div class="row">
    <div type="button" class="btn btn-primary col-md-4" onclick="history.back()">Retour à la carte</div>
  </div>

  <div class="row">
    <div id="map" class="col-4">{{ map_html|safe }}</div>
    <div id="plot" class="col-8">{{ graph_valeurIndic|safe }}</div>
  </div>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-2019-tab" data-toggle="pill" href="#pills-2019" role="tab" aria-controls="pills-2019" aria-selected="true">2019</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-2018-tab" data-toggle="pill" href="#pills-2018" role="tab" aria-controls="pills-2018" aria-selected="false">2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-2017-tab" data-toggle="pill" href="#pills-2017" role="tab" aria-controls="pills-2017" aria-selected="false">2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-2016-tab" data-toggle="pill" href="#pills-2016" role="tab" aria-controls="pills-2016" aria-selected="false">2016</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-2019" role="tabpanel" aria-labelledby="pills-2019-tab">
      <div class="row">
        <div class="col-md-4">{{ graphs[9]|safe }}</div>
        <div class="col-md-4">{{ graphs[10]|safe }}</div>
        <div class="col-md-4">{{ graphs[11]|safe }}</div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-2018" role="tabpanel" aria-labelledby="pills-2018-tab">
      <div class="row">
        <div class="col-md-4">{{ graphs[6]|safe }}</div>
        <div class="col-md-4">{{ graphs[7]|safe }}</div>
        <div class="col-md-4">{{ graphs[8]|safe }}</div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-2017" role="tabpanel" aria-labelledby="pills-2017-tab">
      <div class="row">
        <div class="col-md-4">{{ graphs[3]|safe }}</div>
        <div class="col-md-4">{{ graphs[4]|safe }}</div>
        <div class="col-md-4">{{ graphs[5]|safe }}</div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-2016" role="tabpanel" aria-labelledby="pills-2016-tab">
      <div class="row">
        <div class="col-md-4">{{ graphs[0]|safe }}</div>
        <div class="col-md-4">{{ graphs[1]|safe }}</div>
        <div class="col-md-4">{{ graphs[2]|safe }}</div>
      </div>
    </div>
  </div>

<!--
  <table class="table">
    <thead>
      <tr>
        <th>Période</th>
        <th>Valeur indicateur</th>
        <th>Population</th>
        <th>Logements sans voiture</th>
        <th>Logements avec 1 voiture</th>
        <th>Logements avec 2 voitures</th>
        <th>Logements avec 3 voitures ou plus</th>
        <th>Logements avec places de parking réservées</th>
        <th>Chauffage collectif</th>
        <th>Chauffage individuel</th>
        <th>Chauffage électrique</th>
        <th>Autre chauffage</th>
      </tr>
    </thead>
    <tbody>
      {% for info in informations %}
        <tr>
          <td>{{ info.codePeriode }}</td>
          <td>{{ info.valeurIndic }}</td>
          <td>{{ info.population }}</td>
          <td>{{ info.nbLogements0VOIT }}</td>
          <td>{{ info.nbLogements1VOIT }}</td>
          <td>{{ info.nbLogements2VOIT }}</td>
          <td>{{ info.nbLogements3VOITOuPlus }}</td>
          <td>{{ info.nbLogementsAvecPlacesResa }}</td>
          <td>{{ info.chauffageCollectif }}</td>
          <td>{{ info.chauffageIndiv }}</td>
          <td>{{ info.chauffageElect }}</td>
          <td>{{ info.chauffageAutre }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
-->
 
{% endblock %}