body{
  background-color: #e9e9e9;
}

#dataBD .nav-link.active {
    background-color: #272727;
    color: #fff;
}

#dataBD .nav-link {
color: #272727;
background-color: #fff;
}
  
thead{
  background-color: #272727;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

