h1{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

body{
  overflow-x: hidden;
}

ul.visualisations {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul.visualisations > li {
  float: none;
  display: inline-block;
}

ul.visualisations> li > a {
  text-align: center;
}

div.map{
  max-width: 60%;
  margin: 0 auto;
}

p.coeff{
  text-align: center;
}

