<!-- app/templates/data.html -->
{% extends "base.html" %}

{% block title %}
    Données
{% endblock %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}">

{% endblock %}

{% block content %}
<h1>Collecte des données</h1>
<div class="container-fluid">
    <div>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://pole-emploi.io/" target="_blank">API Pole Emploi</a></li>
            <li class="list-group-item"><a href="https://api.insee.fr/catalogue/" target="_blank">API Insee</a></li>
        </ul>
    </div>
        <h2 style="margin: 15px;">Explications sur la collecte, automatisation et stockage des données</h2>
        <ul class="list-inline">
            <li class="list-group-item">
                <a data-toggle="collapse" href="#collecte" role="button" aria-expanded="false" aria-controls="collapseExample">
                Collecte
                </a></li>
            <li class="list-group-item collapse" id="collecte">
                <p>Pour collecter les données, nous nous servons de PHP</p>
                <p>Avec des classes écrites par nos soins, nous requêtons les APIs puis à l'aide des réponses, nous pré-traitons les données avant de les insérer dans la base.</p>
            </li>
            <li class="list-group-item"><a data-toggle="collapse" href="#automatisation" role="button" aria-expanded="false" aria-controls="collapseExample">
                Automatisation
            </a></li>
            <li class="list-group-item collapse" id="automatisation">
                <p>Une fois la collecte des données effective, nous avons mis en place un script composer qui lance une batterie de tests vérifiant tout d'abord que les APIs sont bien opérationnelles.</p>
                <p>Le cas échéant, la base est détruite puis reconstruite à l'aide d'un script SQL. Ensuite, la phase de collecte est lancée et l'insertion des données commencent.</p>
            </li>
            <li class="list-group-item"><a data-toggle="collapse" href="#stockage" role="button" aria-expanded="false" aria-controls="collapseExample">
                Stockage
            </a></li>
            <li class="list-group-item collapse" id="stockage">
                <p>Les données sont stockées sur une machine virtuelle : <a href="http://10.31.5.227/phpmyadmin/" target="_blank">10.31.11.229</a>.<br> Si vous souhaitez un compte phpmyadmin pour visualiser les données, envoyez un mail à <a href="mailto:aurelien.vincent@etudiant.univ-reims.fr">aurelien.vincent@etudiant.univ-reims.fr</a> </p>
                <p>Sinon, vous pouvez voir les données <a href="#territoires">ici</a>.</p>
            </li>
        </ul>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="dataBD" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="Territoires" data-toggle="tab" href="#territoires" role="tab" aria-controls="territoires" aria-selected="true">Territoires</a>
                <a class="nav-link" id="TypeTerritoire" data-toggle="tab" href="#typeTerritoire" role="tab" aria-controls="typeTerritoire" aria-selected="false">Type de Territoire</a>
                <a class="nav-link" id="Periode" data-toggle="tab" href="#periode" role="tab" aria-controls="periode" aria-selected="false">Période</a>
                <a class="nav-link" id="InfosJob" data-toggle="tab" href="#infosJob" role="tab" aria-controls="infosJob" aria-selected="false">Information Job</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="dataBDContent">

                <div class="tab-pane fade show active" id="territoires" role="tabpanel" aria-labelledby="territoires">
                    <h1>Liste des territoires</h1>
                    <table class="table table-striped bord">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Libellé</th>
                                <th>Type</th>
                                <th>Geo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for territoire in territoires %}
                            <tr>
                                <td>{{ territoire.codeTerritoire }}</td>
                                <td>{{ territoire.libelleTerritoire }}</td>
                                <td>{{ territoire.codeTypeTerritoire }}</td>
                                <td>{{ territoire.geojson }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        
                <div class="tab-pane fade" id="typeTerritoire" role="tabpanel" aria-labelledby="typeTerritoire">
                    <h1>Liste des types de territoire</h1>
                    <table class="table table-striped bord">
                        <thead>
                            <tr>
                                <th>Code Type Territoire</th>
                                <th>Libellé Type Territoire</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for type in typeTerritoire %}
                                <tr>
                                    <td>{{ type.codeTypeTerritoire }}</td>
                                    <td>{{ type.libelleTypeTerritoire }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="periode" role="tabpanel" aria-labelledby="periode">
                    <h1>Périodes</h1>
                    <table class="table table-striped bord">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Libellé</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prd in periode %}
                            <tr>
                            <td>{{ prd.codePeriode }}</td>
                            <td>{{ prd.libellePeriode }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="infosJob" role="tabpanel" aria-labelledby="infosJob">
                    <h1>Informations Job</h1>
                    <table class="table table-striped bord">
                        <thead>
                            <tr>
                                <th>Code période</th>
                                <th>Code territoire</th>
                                <th>Valeur indicateur</th>
                                <th>Code type territoire</th>
                                <th>Population</th>
                                <th>Logements sans voiture</th>
                                <th>Logements avec 1 voiture</th>
                                <th>Logements avec 2 voitures</th>
                                <th>Logements avec 3 voitures</th>
                                <th>Logements avec places réservées</th>
                                <th>Logements avec chauffage collectif</th>
                                <th>Logements avec chauffage individuel </th>
                                <th>Logements avec chauffage électrique</th>
                                <th>Logements avec chauffage autre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for infos in informations %}
                            <tr>
                                <td>{{ infos.codePeriode }}</td>
                                <td>{{ infos.codeTerritoire }}</td>
                                <td>{{ infos.valeurIndic }}</td>
                                <td>{{ infos.codeTypeTerritoire }}</td>
                                <td>{{ infos.population }}</td>
                                <td>{{ infos.nbLogements0VOIT }}</td>
                                <td>{{ infos.nbLogements1VOIT }}</td>
                                <td>{{ infos.nbLogements2VOIT }}</td>
                                <td>{{ infos.nbLogements3VOITOuPlus }}</td>
                                <td>{{ infos.nbLogementsAvecPlacesResa }}</td>
                                <td>{{ infos.chauffageCollectif }}</td>
                                <td>{{ infos.chauffageIndiv }}</td>
                                <td>{{ infos.chauffageElect }}</td>
                                <td>{{ infos.chauffageAutre }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    // Écoute sur la barre de navigation qui permet le changement de la section a montrer
    $('#dataBD a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
</script>
{% endblock %}
